.not_found {
    color: white;
    position: absolute;
    right: 100px;
    bottom: 70px;
    font-size: 15vh;
    opacity: 0.2;
    margin: 0px;
    z-index: -1;
}

.not_found_button {
    margin-top: 10%;
    margin-left: 10%;
    border: none;
    font-size: 5vh;
    background-color: transparent;
    color: white;
    opacity: 0.6;
    cursor: pointer;
}