.callUs {
    background-color: #E5EEF0;
}

.callUs-container {
    /* background-color: red; */
    width: 100%;
    height: 270px;
    padding-top: 50px;
    padding-bottom: 150px;
}

.callUs__title {
    margin-bottom: 50px;
       color: black;
       font-size: 45px;
       text-align: center;
   }